.full_screen_box{
    width: 100%;
    height: 100vh;
    background-color: lightgreen;
}
.father_box1{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
    margin-bottom: 20px;
    /* margin-left: 15px; */
    background-color: skyblue  
}
.father_box2{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
    gap: 20px; */
    /* margin-left: 15px; */
    background-color: lightgreen
}
.father_box3{
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    /* margin-left: 15px; */
    margin-top: 5px;
    border: 1px solid blue;
    background-color: skyblue
}
.box1{
    width: 430px;
    height: 125px;
    border: 5px solid orange;
    background-color: burlywood;
}
.box2{
    width: 430px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid orange;
    background-color: burlywood;
}
.twin_box_1{
    width: 195px;
    height: 105px;
    border: 5px solid red;
    background-color: pink;
}
.twin_box_2{
    width: 195px;
    height: 105px;
    border: 5px solid red;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
    width: 430px;
    height: 125px;
    border: 5px solid orange;
    background-color: burlywood;
}
.box4{
    width: 690px;
    height: 330px;
    border: 5px solid brown;
    background-color: pink;
}
.box5{
    width: 690px;
    height: 150px;
    border: 5px solid brown;
    background-color: pink;
}
.box6{
    width: 690px;
    height: 150px;
    margin-top: 19px;
    border: 5px solid brown;
    background-color: pink;
}
.box7{
    width: 430px;
    height: 125px;
    border: 5px solid blueviolet;
    background-color: lightgrey;
}
.box8{
    width: 215px;
    height: 125px;
    border: 5px solid orange;
    background-color: burlywood
}
.box9{
    width: 215px;
    height: 125px;
    border: 5px solid orange;
    background-color: burlywood
}
.box10{
    width: 430px;
    height: 125px;
    border: 5px solid blueviolet;
    background-color: lightgrey;
}   